{% extends 'base.html' %} {% load static %} 
{% block body %}
<title>AbuseIPDB | IP Details</title>
<div class="navbar-expand-md"></div>
<div class="page-wrapper">
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row align-items-center">
        <div class="col">
          <div class="page-pretitle">
            AbuseIPDB/Results
          </div>
          <h2 class="page-title">
            IP Details
          </h2>
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      <div class="col-8">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              {% for ipdata in ip_details %}
              IP : {{ipdata.ip}}
              {% endfor %}
            </h3>
            <div class="card-actions">

              <div class="col-auto ms-auto d-print-none">
                <button type="button" class="btn btn-primary" onclick="javascript:window.print();">
                  <!-- Download SVG icon from http://tabler-icons.io/i/printer -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" /><path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" /><rect x="7" y="13" width="10" height="8" rx="2" /></svg>
                  Print
                </button>
              </div>

            </div>
          </div>
          <div class="card-body">
            {% for ipdata in ip_details %}

            {% if ipdata.abuseConfidenceScore > 0 %}
              <dd class="col-12" style="color:red;text-align:center;">
                This IP address has been reported a total of <b>{{ipdata.totalReports}}</b> times from <b>{{ipdata.numDistinctUsers}}</b> distinct sources.
              </dd>
              {% else %}
              <dd class="col-12" style="text-align:center;">This IP was reported <b>{{ipdata.totalReports}}</b> times. Confidence of Abuse is <b>{{ipdata.abuseConfidenceScore}}%</b>
              </dd>
              {% endif %}

            <!--Basic Properties-->
            <div class="hr-text">Basic Properties</div>
           
            <dl class="row">
              <dt class="col-5">IP:</dt>
              {% if ipdata.ip is not empty %}
              <dd class="col-7">{{ipdata.ip}}</dd>
              {% else %}
              <dd class="col-7">None</dd>
              {% endif %}

              <dt class="col-5">Is Public:</dt>
              {% if ipdata.isPublic is not empty %}
              <dd class="col-7">{{ipdata.isPublic}}
              </dd>
              {% else %}
              <dd class="col-7">None
              </dd>
              {% endif %}

              <dt class="col-5">IP Version:</dt>
              {% if ipdata.ipVersion is not empty %}
              <dd class="col-7">{{ipdata.ipVersion}}</dd>
              {% else %}
              <dd class="col-7">None</dd>
              {% endif %}

              <dt class="col-5">Is Whitelisted:</dt>
              {% if ipdata.isWhitelisted is not empty %}
              <dd class="col-7">{{ipdata.isWhitelisted}}</dd>
              {% else %}
              <dd class="col-7">None</dd>
              {% endif %}

              <dt class="col-5">Country:</dt>
              {% if ipdata.countryCode is not empty %}
              <dd class="col-7"><span class="flag flag-country-{{countryCode | lower}}"></span>{{ipdata.countryCode}}</dd>
              {% else %}
              <dd class="col-7">None</dd>
              {% endif %}

              <dt class="col-5">Usage Type:</dt>
              {% if ipdata.usageType is not empty %}
              <dd class="col-7">{{ipdata.usageType}}</dd>
              {% else %}
              <dd class="col-7">None</dd>
              {% endif %}

              <dt class="col-5">ISP:</dt>
              {% if ipdata.isp is not empty %}
              <dd class="col-7">{{ipdata.isp}}</dd>
              {% else %}
              <dd class="col-7">None</dd>
              {% endif %}

              <dt class="col-5">Domain:</dt>
              {% if ipdata.domain is not empty %}
              <dd class="col-7">{{ipdata.domain}}</dd>
              {% else %}
              <dd class="col-7">None</dd>
              {% endif %}

            <div class="hr-text">Reports Details</div>

              <dt class="col-5">AbuseConfidence Score:</dt>
              {% if ipdata.abuseConfidenceScore is not empty %}
              <dd class="col-7">{{ipdata.abuseConfidenceScore}}%</dd>
              {% else %}
              <dd class="col-7">None</dd>
              {% endif %}

              <dt class="col-5">Total Reports:</dt>
              {% if ipdata.totalReports is not empty %}
              <dd class="col-7">{{ipdata.totalReports}}</dd>
              {% else %}
              <dd class="col-7">None</dd>
              {% endif %}

              <dt class="col-5">Distinct Report Sources:</dt>
              {% if ipdata.numDistinctUsers is not empty %}
              <dd class="col-7">{{ipdata.numDistinctUsers}}</dd>
              {% else %}
              <dd class="col-7">None</dd>
              {% endif %}

              <dt class="col-5">Last Reported at:</dt>
              {% if ipdata.lastReportedAt is not empty %}
              <dd class="col-7">{{ipdata.lastReportedAt}}</dd>
              {% else %}
              <dd class="col-7">None</dd>
              {% endif %}

            </dl>

            <div class="hr-text">Location Info</div>
            <dl class="row">
              {% if location_info_flag is False %}
              {% for message in messages %}
              <div class="alert alert-warning alert-dismissible" role="alert">
                <div class="d-flex">
                  <div>
                    <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                    <!-- SVG icon code with class="alert-icon" -->
                  </div>
                  <div>
                    <h4 class="alert-title">Uh oh, something went wrong</h4>
                    <div class="text-muted">{{message}}</div>
                  </div>
                </div>
                <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
              </div>
            </div>
            {% endfor %}
              {% else %}   
              <dt class="col-5">Country:</dt>
              <dd class="col-7">{{CountryName}}</dd>
             
              <dt class="col-5">Country Code:</dt>
              <dd class="col-7"><span class="flag flag-country-{{countryCode | lower}}"></span>
                {{countryCode}}</dd>
              <dt class="col-5">City:</dt>
              <dd class="col-7">{{city}}</dd>
              <dt class="col-5">State:</dt>
              <dd class="col-7">{{state}}</dd>
              <dt class="col-5">Postal:</dt>
              <dd class="col-7">{{postal}}</dd>
              <dt class="col-5">Longitude:</dt>
              <dd class="col-7">{{longitude}}</dd>
              <dt class="col-5">Latitude:</dt>
              <dd class="col-7">{{Latitude}}</dd>
              <dt class="col-5">Google Map:</dt>
              <dd class="col-7"><a href=" https://www.google.com/maps/search/?api=1&query={{Latitude}},{{longitude}}" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path>
                  <path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path>
               </svg>
              </a></dd>
            </dl>
            {% endif %}
            Note: Location information data is provided by <a href="https://geolocation-db.com" target="_blank">geolocation-db.com</a>

            {% endfor %}
            <!--IP doesn't exists-->
            {% if not_exist %}
            <div class="alert alert-warning alert-dismissible" role="alert">
              <div class="d-flex">
                <div>
                  <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                  <!-- SVG icon code with class="alert-icon" -->
                </div>
                <div>
                  <h4 class="alert-title">Uh oh, something went wrong</h4>
                  <div class="text-muted">IP <b>{{not_exist}}</b> doesn't exists in the table</div>
                </div>
              </div>
              <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      
    </div>
    
  </div>
</div>

{% endblock body %}
