{% extends 'base.html' %} {% load static %} {% block body %}
<title>AbuseIPDB | IP Scanner</title>
  <div class="page-wrapper">
    <div class="container-xl">
      <!-- Page title -->
      <div class="page-header d-print-none">
        <div class="row align-items-center">
          <div class="col">
            <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
              </li>
              <li class="breadcrumb-item"><a href="#">AbuseIPDB</a></li>
              
              <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'abuseipdb_ip_scanner' %}">IP Scanner</a>
          
            </ol>

            <br>
            {% for message in messages %}
            <div class="alert alert-important alert-info alert-dismissible" role="alert">
              <div class="d-flex">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4"></path>
                    <line x1="12" y1="11" x2="12" y2="11.01"></line>
                    <line x1="8" y1="11" x2="8" y2="11.01"></line>
                    <line x1="16" y1="11" x2="16" y2="11.01"></line>
                 </svg>
                </div>
                <div>
                 {{message}}
                </div>
              </div>
              <a class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
            {% endfor %}
            <!--Malicious Found Message-->
            {% if malicious_found is False %}
            <div class="alert alert-important alert-info alert-dismissible" role="alert">
              <div class="d-flex">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="12" r="9"></circle>
                    <line x1="12" y1="8" x2="12.01" y2="8"></line>
                    <polyline points="11 12 12 12 12 16 13 16"></polyline>
                 </svg>
                </div>
                <div>
                  No Malicious or new IPs Found. Cleared IPs will be stored in All IPs</a> if found any.
                  {% comment %} <a href="{% url 'allips' %}" style="color:black"> {% endcomment %}
                </div>
              </div>
              <a class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
            {% endif %}
            <!--Malicious Not Found Message End-->

             <!--Daily Limit Exceeded Message-->
             {% for message in messages%}
             
             {% if 'apilimit' in message.tags %}
             <div class="alert alert-important alert-warning alert-dismissible" role="alert">
              <div class="d-flex">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-triangle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 9v2m0 4v.01"></path>
                    <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
                 </svg>
                 </svg>
                </div>
                <div>
                  {{message}}
                </div>
              </div>
              <a class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
            
            {% endif %}
            {% endfor %}
             <!--Daily Limit Exceeded message End-->

             <!--Unknown Error Start-->
             {% for message in messages%}
             
             {% if 'unknownerror' in message.tags %}
             <div class="alert alert-warning alert-dismissible" role="alert">
              <div class="d-flex">
                <div>
                  <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                  <!-- SVG icon code with class="alert-icon" -->
                </div>
                <div>
                  <h4 class="alert-title">Uh oh, something went wrong</h4>
                  <div class="text-muted">{{message}}</div>
                </div>
              </div>
              <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
            
            {% endif %}
            {% endfor %}
             <!--Unknown Error End-->

             <!-- Column Not Found Start-->
             {% for message in messages%}
             
             {% if 'columnnotfound' in message.tags %}
             <div class="alert alert-warning alert-dismissible" role="alert">
              <div class="d-flex">
                <div>
                  <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                  <!-- SVG icon code with class="alert-icon" -->
                </div>
                <div>
                  <h4 class="alert-title">Uh oh, something went wrong</h4>
                  <div class="text-muted">{{message}} <b>Column Name</b> not found in the given csv log file. Make sure you selected the correct  column name or log file that contains the selected column name.</div>
                </div>
              </div>
              <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
            
            {% endif %}
            {% endfor %}
             <!-- Column Not Found End-->
             
               <!--Malicious Found Message-->
             {% if malicious_found is True %}
             <div class="alert alert-important alert-success alert-dismissible" role="alert">
              <div class="d-flex">
                <div>
               
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 12l5 5l10 -10"></path>
                 </svg>
                </div>
                <div>
                  Malicious IPs Found. Malicious IPs has been stored in <b>Destination Malicious IPs</a></b>
                  {% comment %} <a href="{% url 'malicious_destination_ips_display' %}" style="color:black"> {% endcomment %}
                </div>
              </div>
              <a class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
             {% endif %}
             <!--Malicious Found Message End-->

             
          </div>

          
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="container-xl">
        <div class="row row-cards">
          <!--Scan in Bulk Start-->
          <div class="col-7">
            <div class="progress progress-sm" style="display: none;">
              <div class="progress-bar progress-bar-indeterminate"></div>
            </div>
            <form action="{% url 'abuseipdb_ip_scanner' %}" method="POST" class="card" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="card-header">
                <h4 class="card-title">Scan in bulk</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-md-6 col-xl-12">                        
                        
                        <div class="mb-3">
                          <div class="form-label required">Select API</div>
                          <select class="form-select" name="abuseipdb_api">
                            {% comment %} <option  disabled selected hidden>Select API Key</option> {% endcomment %}

                            {% for data in abuseipdb_api_data %}
                              <option value="{{data.api}}">{{data.api|slice:":10"}} - {{data.full_name}}</option>
                              
                            {% endfor %}
                          </select>
                        </div>


                        <div class="mb-3">
                          <div class="form-label required">Select Column</div>
                          <select class="form-select" name="column_name">
                            {% comment %} <option  disabled selected hidden>Select API Key</option> {% endcomment %}

                            {% for data in columns_data %}
                              <option value="{{data.column_name}}">{{data.column_name}}</option>
                              
                            {% endfor %}
                          </select>
                        </div>
                      
                        
                        
                        <div class="mb-3">
                          <div class="form-label required">
                            Upload CSV log file
                          </div>
                          <input type="file" class="form-control" name="logfile" required/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-end">
                <div class="d-flex">
                  <a href="" class="btn btn-link">Cancel</a>
                  <button type="submit" class="btn btn-primary ms-auto">
                    Scan Now
                  </button>
                </div>
              </div>
            </form>
          </div>
          <!--Scan in Bulk End-->

          <div class="col-5">
            <div class="markdown">
              <ul>
                <li>Please upload a CSV file only.</li>
                <li>Make sure your file is not too large, as AbuseIPDB allows only 100 requests in 24 hours.</li>
                <li>Check your API lookups before scanning a large file.</li>
                <li>If API lookups reachs to its limit during scanning, just change the API key from "Select API" dropdown and scan it again.</li>
                <li>You will not miss any data if a scan stops for any reason, just re-scan the file.</li>
                <li>Make sure you select the right column name.</li>
                <li>Scanning a large file may take some time, also depends on the internet speed and device specification.</li>
  
              </ul>
            </div>
          </div>

        </div>

      </div>
      
    </div>
    
  </div>
  <!--Display progress bar after submiting form.-->
  <script>
    document.querySelector("form").addEventListener("submit", function() {
      // Show the progress bar
      document.querySelector(".progress").style.display = "";
  });
  </script>
{% endblock body %}
