{% extends 'base.html' %} {% load static %} {% block body %}
<title>VirusTotal | Hash Scanner</title>
  <div class="page-wrapper">
    <div class="container-xl">
      <!-- Page title -->
      <div class="page-header d-print-none">
        <div class="row align-items-center">
          <div class="col">
            <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
              </li>
              <li class="breadcrumb-item"><a href="#">VirusTotal</a></li>
              
              <li class="breadcrumb-item active" aria-current="page">
                Hash Scanner
              </li>
            </ol>

            <br>
            <!-- Column Not Found Start-->
            {% for message in messages%}

            {% if 'columnnotfound' in message.tags %}
            <div class="alert alert-warning alert-dismissible" role="alert">
            <div class="d-flex">
              <div>
                <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                <!-- SVG icon code with class="alert-icon" -->
              </div>
              <div>
                <h4 class="alert-title">Uh oh, something went wrong</h4>
                <div class="text-muted">{{message}} <b>Column Name</b> not found in the given csv log file. Make sure you selected the correct  column name or log file that contains the selected column name.</div>
              </div>
            </div>
            <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
          </div>
          
          {% endif %}
          {% endfor %}
            <!-- Column Not Found End-->

            
          </div>

          
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="container-xl">
        <div class="row row-cards">
          <!--Scan in Bulk Start-->
          <div class="col-7">
            <div class="progress progress-sm" style="display: none;">
              <div class="progress-bar progress-bar-indeterminate"></div>
            </div>
            <form action="{% url 'hash_scanner' %}" method="POST" class="card" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="card-header">
                <h4 class="card-title">Scan in bulk</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-md-6 col-xl-12">                        
                        
                        <div class="mb-3">
                          <div class="form-label required">Select API</div>
                          <select class="form-select" name="vt_api">
                            {% comment %} <option  disabled selected hidden>Select API Key</option> {% endcomment %}

                            {% for data in vt_api_data %}
                              <option value="{{data.api}}">{{data.api|slice:":10"}} - {{data.full_name}}</option>
                              
                            {% endfor %}
                          </select>
                        </div>


                        <div class="mb-3">
                          <div class="form-label required">Select Column</div>
                          <select class="form-select" name="column_name">
                            {% comment %} <option  disabled selected hidden>Select API Key</option> {% endcomment %}

                            {% for data in columns_data %}
                              <option value="{{data.column_name}}">{{data.column_name}}</option>
                              
                            {% endfor %}
                          </select>
                        </div>
                      
                        
                        
                        <div class="mb-3">
                          <div class="form-label required">
                            Upload CSV log file
                          </div>
                          <input type="file" class="form-control" name="logfile" required/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-end">
                <div class="d-flex">
                  <a href="" class="btn btn-link">Cancel</a>
                  <button type="submit" class="btn btn-primary ms-auto">
                    Scan Now
                  </button>
                </div>
              </div>
            </form>
          </div>
          <!--Scan in Bulk End-->
          <div class="col-5">
            <div class="markdown">
              <ul>
                <li>Please upload a CSV file only.</li>
                <li>Make sure your file is not too large, as VirusTotal allows only 500 requests in 24 hours.</li>
                <li>Check your API lookups before scanning a large file.</li>
                <li>If API lookups reachs to its limit during scanning, just change the API key from "Select API" dropdown and scan it again.</li>
                <li>You will not miss any data if a scan stops for any reason, just re-scan the file.</li>
                <li>Make sure you select the right column name.</li>
                <li>Scanning a large file may take some time, also depends on the internet speed and device specification.</li>
  
              </ul>
            </div>
          </div>

        </div>

      </div>
      
    </div>
    
  </div>
  <!--Display progress bar after submiting form.-->
  <script>
    document.querySelector("form").addEventListener("submit", function() {
      // Show the progress bar
      document.querySelector(".progress").style.display = "";
  });
  </script>
{% endblock body %}
