{% extends 'base.html' %} {% load static %} {% block body %}
<title>Dashboard</title>
<div class="page-wrapper">
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row align-items-center">
        <div class="col">
          <!-- Page pre-title --> 
          <h2 class="page-title">Dashboard</h2>
          <!-- Page title actions -->

          <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
              <span class="d-none d-sm-inline">
                <a href="#" class="btn btn-white">
                  New view
                </a>
              </span>
              <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                Create new report
              </a>
              <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
              </a>
            </div>
          </div>
          
          <br>
          <!--Message Start-->
          {% for message in messages%}
                
          <div class="alert alert-important alert-warning alert-dismissible" role="alert">
           <div class="d-flex">
             <div>
               <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-triangle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                 <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                 <path d="M12 9v2m0 4v.01"></path>
                 <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
              </svg>
              </svg>
             </div>
             <div>
               {{message}}
             </div>
           </div>
           <a class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="close"></a>
         </div>

         {% endfor %}
          <!--Message End-->

          </div>
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="row row-cards">
              <!--Total Malicious Destination IPS start-->
              <div class="col-sm-">
                <div class="card">
                  <div class="card-body p-2 text-center">
                    <div class="text-end text-green">
                      {% if total_malicious_dest_ips > 0 %}
                      <span
                        class="text-green d-inline-flex align-items-center lh-1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 17 9 11 13 15 21 7" />
                          <polyline points="14 7 21 7 21 14" />
                        </svg>
                      </span>
                      {% else %}
                      <span
                        class="text-red d-inline-flex align-items-center lh-1"
                      >
  
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 7 9 13 13 9 21 17" />
                          <polyline points="21 10 21 17 14 17" />
                        </svg>
                      </span>
                      {% endif %}
                    </div>
                    
                    <div class="h1 m-0">{{total_malicious_dest_ips}}</div>
                    <div class="text-muted mb-3">Total Destination Malicious IPs</div>
                  </div>
                </div>
              </div>
              <!--Total Malicious Destination IPS End-->

                <!--Malicious Destinations IP in Today Date start-->
                 
                 <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body p-2 text-center">
                      <div class="text-end text-green">
                        {% if dest_ips_in_today_date > 0 %}
                        <span
                          class="text-green d-inline-flex align-items-center lh-1"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon ms-1"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <polyline points="3 17 9 11 13 15 21 7" />
                            <polyline points="14 7 21 7 21 14" />
                          </svg>
                        </span>
                        {% else %}
                        <span
                          class="text-red d-inline-flex align-items-center lh-1"
                        >
    
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon ms-1"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <polyline points="3 7 9 13 13 9 21 17" />
                            <polyline points="21 10 21 17 14 17" />
                          </svg>
                        </span>
                        {% endif %}
                      </div>
                      
                      <div class="h1 m-0">{{dest_ips_in_today_date}}</div>
                      <div class="text-muted mb-3">Destination IPs in Today Date</div>
                    </div>
                  </div>
                </div>
                <!--Malicious Destinations IP in Today Date End-->

                 <!--Malicious Destinations IP in Today Month start-->
                 
                 <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body p-2 text-center">
                      <div class="text-end text-green">
                        {% if dest_ips_in_today_month > 0 %}
                        <span
                          class="text-green d-inline-flex align-items-center lh-1"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon ms-1"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <polyline points="3 17 9 11 13 15 21 7" />
                            <polyline points="14 7 21 7 21 14" />
                          </svg>
                        </span>
                        {% else %}
                        <span
                          class="text-red d-inline-flex align-items-center lh-1"
                        >
    
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon ms-1"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <polyline points="3 7 9 13 13 9 21 17" />
                            <polyline points="21 10 21 17 14 17" />
                          </svg>
                        </span>
                        {% endif %}
                      </div>
                      
                      <div class="h1 m-0">{{dest_ips_in_today_month}}</div>
                      <div class="text-muted mb-3">Destination IPs in Today Month</div>
                    </div>
                  </div>
                </div>
                <!--Malicious Destinations IP in Today Month End-->

                
                 <!--Malicious Destinations IP in Today Month start-->
                 
                 <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body p-2 text-center">
                      <div class="text-end text-green">
                        {% if dest_ips_in_today_year > 0 %}
                        <span
                          class="text-green d-inline-flex align-items-center lh-1"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon ms-1"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <polyline points="3 17 9 11 13 15 21 7" />
                            <polyline points="14 7 21 7 21 14" />
                          </svg>
                        </span>
                        {% else %}
                        <span
                          class="text-red d-inline-flex align-items-center lh-1"
                        >
    
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon ms-1"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <polyline points="3 7 9 13 13 9 21 17" />
                            <polyline points="21 10 21 17 14 17" />
                          </svg>
                        </span>
                        {% endif %}
                      </div>
                      
                      <div class="h1 m-0">{{dest_ips_in_today_year}}</div>
                      <div class="text-muted mb-3">Destination IPs in Today Year</div>
                    </div>
                  </div>
                </div>
                <!--Malicious Destinations IP in Today Month End-->

              <!--Total Malicious Source IPS start-->
              <div class="col-sm-">
                <div class="card">
                  <div class="card-body p-2 text-center">
                    <div class="text-end text-green">
                      {% if total_malicious_source_ips > 0 %}
                      <span
                        class="text-green d-inline-flex align-items-center lh-1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 17 9 11 13 15 21 7" />
                          <polyline points="14 7 21 7 21 14" />
                        </svg>
                      </span>
                      {% else %}
                      <span
                        class="text-red d-inline-flex align-items-center lh-1"
                      >
  
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 7 9 13 13 9 21 17" />
                          <polyline points="21 10 21 17 14 17" />
                        </svg>
                      </span>
                      {% endif %}
                    </div>
                    
                    <div class="h1 m-0">{{total_malicious_source_ips}}</div>
                    <div class="text-muted mb-3">Total Source Malicious IPs</div>
                  </div>
                </div>
              </div>
              <!--Total Malicious Source IPS End-->

               <!--Malicious Source IPS in Today date start-->
               <div class="col-sm-4">
                <div class="card">
                  <div class="card-body p-2 text-center">
                    <div class="text-end text-green">
                      {% if source_ips_in_today_date > 0 %}
                      <span
                        class="text-green d-inline-flex align-items-center lh-1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 17 9 11 13 15 21 7" />
                          <polyline points="14 7 21 7 21 14" />
                        </svg>
                      </span>
                      {% else %}
                      <span
                        class="text-red d-inline-flex align-items-center lh-1"
                      >
  
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 7 9 13 13 9 21 17" />
                          <polyline points="21 10 21 17 14 17" />
                        </svg>
                      </span>
                      {% endif %}
                    </div>
                    
                    <div class="h1 m-0">{{source_ips_in_today_date}}</div>
                    <div class="text-muted mb-3">Source IPs in Today Date</div>
                  </div>
                </div>
              </div>
              <!--Malicious Source IPS in Today date End-->

              
               <!--Malicious Source IPS in Today Month start-->
               <div class="col-sm-4">
                <div class="card">
                  <div class="card-body p-2 text-center">
                    <div class="text-end text-green">
                      {% if source_ips_in_today_month > 0 %}
                      <span
                        class="text-green d-inline-flex align-items-center lh-1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 17 9 11 13 15 21 7" />
                          <polyline points="14 7 21 7 21 14" />
                        </svg>
                      </span>
                      {% else %}
                      <span
                        class="text-red d-inline-flex align-items-center lh-1"
                      >
  
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 7 9 13 13 9 21 17" />
                          <polyline points="21 10 21 17 14 17" />
                        </svg>
                      </span>
                      {% endif %}
                    </div>
                    
                    <div class="h1 m-0">{{source_ips_in_today_month}}</div>
                    <div class="text-muted mb-3">Source IPs in Today Month</div>
                  </div>
                </div>
              </div>
              <!--Malicious Source IPS in Today Month End-->

              <!--Malicious Source IPS in Today Year start-->
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body p-2 text-center">
                    <div class="text-end text-green">
                      {% if source_ips_in_today_year > 0 %}
                      <span
                        class="text-green d-inline-flex align-items-center lh-1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 17 9 11 13 15 21 7" />
                          <polyline points="14 7 21 7 21 14" />
                        </svg>
                      </span>
                      {% else %}
                      <span
                        class="text-red d-inline-flex align-items-center lh-1"
                      >
  
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 7 9 13 13 9 21 17" />
                          <polyline points="21 10 21 17 14 17" />
                        </svg>
                      </span>
                      {% endif %}
                    </div>
                    
                    <div class="h1 m-0">{{source_ips_in_today_year}}</div>
                    <div class="text-muted mb-3">Source IPs in Today Year</div>
                  </div>
                </div>
              </div>
              <!--Malicious Source IPS in Today Year End-->


              <div class="col-12">
                <div class="card">
                  <!--Chart start-->

                  <canvas id="myChart"></canvas>

                  <script>
                    const labels = [{% for ip in all_ips %} '{{ip.ip}}', {% endfor %}];

                    const data = {
                      labels: labels,
                      datasets: [
                        {
                          label: "IP Malicious Count",
                          backgroundColor: "rgb(255, 99, 132)",
                          borderColor: "rgb(255, 99, 132)",
                          data: [{% for ip in all_ips %} '{{ip.count}}', {% endfor %}],
                        },
                      ],
                    };

                    const config = {
                      type: "line",
                      data: data,
                      options: {},
                    };
                  </script>

                  <script>
                    const myChart = new Chart(
                      document.getElementById("myChart"),
                      config
                    );
                  </script>

                  <!--Chart end-->
                </div>
              </div>
              <!--Total IPS start-->
              <div class="col-sm-">
                <div class="card">
                  <div class="card-body p-2 text-center">
                    <div class="text-end text-green">
                      {% if total_ips > 0 %}
                      <span
                        class="text-green d-inline-flex align-items-center lh-1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 17 9 11 13 15 21 7" />
                          <polyline points="14 7 21 7 21 14" />
                        </svg>
                      </span>
                      {% else %}
                      <span
                        class="text-red d-inline-flex align-items-center lh-1"
                      >
  
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 7 9 13 13 9 21 17" />
                          <polyline points="21 10 21 17 14 17" />
                        </svg>
                      </span>
                      {% endif %}
                    </div>
                    
                    <div class="h1 m-0">{{total_ips}}</div>
                    <div class="text-muted mb-3">Total IPs Scanned</div>
                  </div>
                </div>
              </div>
              <!--Total IPS End-->
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body p-2 text-center">
                    <div class="text-end text-green">
                      {% if ips_in_today_date > 0 %}
                      <span
                        class="text-green d-inline-flex align-items-center lh-1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 17 9 11 13 15 21 7" />
                          <polyline points="14 7 21 7 21 14" />
                        </svg>
                      </span>
                      {% else %}
                      <span
                        class="text-red d-inline-flex align-items-center lh-1"
                      >
  
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 7 9 13 13 9 21 17" />
                          <polyline points="21 10 21 17 14 17" />
                        </svg>
                      </span>
                      {% endif %}
                    </div>
                    
                    <div class="h1 m-0">{{ips_in_today_date}}</div>
                    <div class="text-muted mb-3">Total IPs in Today Date</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body p-2 text-center">
                    <div class="text-end text-red">
                      {% if ips_in_today_month > 0 %}
                      <span
                        class="text-green d-inline-flex align-items-center lh-1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 17 9 11 13 15 21 7" />
                          <polyline points="14 7 21 7 21 14" />
                        </svg>
                      </span>
                      {% else %}
                      <span
                        class="text-red d-inline-flex align-items-center lh-1"
                      >
  
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 7 9 13 13 9 21 17" />
                          <polyline points="21 10 21 17 14 17" />
                        </svg>
                      </span>
                      {% endif %}
                    </div>
                    <div class="h1 m-0">{{ips_in_today_month}}</div>
                    <div class="text-muted mb-3">Total IPs in Today Month                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body p-2 text-center">
                    <div class="text-end text-green">
                      {% if ips_in_today_year > 0 %}
                      <span
                        class="text-green d-inline-flex align-items-center lh-1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 17 9 11 13 15 21 7" />
                          <polyline points="14 7 21 7 21 14" />
                        </svg>
                      </span>
                      {% else %}
                      <span
                        class="text-red d-inline-flex align-items-center lh-1"
                      >
  
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon ms-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <polyline points="3 7 9 13 13 9 21 17" />
                          <polyline points="21 10 21 17 14 17" />
                        </svg>
                      </span>
                      {% endif %}
                    </div>
                    <div class="h1 m-0">{{ips_in_today_year}}</div>
                    <div class="text-muted mb-3">Total IPs in Today Year
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
        </div>
      </div>
    </div>
    <div
      class="modal modal-blur fade"
      id="modal-report"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New report</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                name="example-text-input"
                placeholder="Your report name"
              />
            </div>
            <label class="form-label">Report type</label>
            <div class="form-selectgroup-boxes row mb-3">
              <div class="col-lg-6">
                <label class="form-selectgroup-item">
                  <input
                    type="radio"
                    name="report-type"
                    value="1"
                    class="form-selectgroup-input"
                    checked
                  />
                  <span
                    class="form-selectgroup-label d-flex align-items-center p-3"
                  >
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1"
                        >Simple</span
                      >
                      <span class="d-block text-muted"
                        >Provide only basic data needed for the report</span
                      >
                    </span>
                  </span>
                </label>
              </div>
              <div class="col-lg-6">
                <label class="form-selectgroup-item">
                  <input
                    type="radio"
                    name="report-type"
                    value="1"
                    class="form-selectgroup-input"
                  />
                  <span
                    class="form-selectgroup-label d-flex align-items-center p-3"
                  >
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1"
                        >Advanced</span
                      >
                      <span class="d-block text-muted"
                        >Insert charts and additional advanced analyses to be
                        inserted in the report</span
                      >
                    </span>
                  </span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="mb-3">
                  <label class="form-label">Report url</label>
                  <div class="input-group input-group-flat">
                    <span class="input-group-text">
                      https://tabler.io/reports/
                    </span>
                    <input
                      type="text"
                      class="form-control ps-0"
                      value="report-01"
                      autocomplete="off"
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-3">
                  <label class="form-label">Visibility</label>
                  <select class="form-select">
                    <option value="1" selected>Private</option>
                    <option value="2">Public</option>
                    <option value="3">Hidden</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Client name</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Reporting period</label>
                  <input type="date" class="form-control" />
                </div>
              </div>
              <div class="col-lg-12">
                <div>
                  <label class="form-label">Additional information</label>
                  <textarea class="form-control" rows="3"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock body %}
</div>
